html,
body {
	font-family: "Young Serif", serif;
	font-weight: 400;
	font-style: normal;
	background-color: #ffe18f;
	color: rgb(132, 53, 25);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.pages {
	display: none;
}

body {
	margin: 50px;
	padding: 0px;
	width: calc(100vw - 100px);
	height: 80%;
}

h1,
h2,
p {
	transition: opacity 1s;
}

h1.fade-out,
h2.fade-out,
p.fade-out {
	animation: fadeOut 2s;
}

.homeheader,
.h1,
.homebutton {
	font-family: "Young Serif", serif;
}

.h1 {
	color: rgb(132, 53, 25);
	font-weight: 400;
	font-style: normal;
	margin: 30px 50px;
	cursor: default;
}

.homebutton {
	color: rgb(255, 199, 87);
	background-color: #7e1a06;
	border: none;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	transition: background-color 0.3s, transform 0.3s;
	opacity: 0.5;
	min-height: 100vh;
		position: relative;
}

.homebutton:hover {
	background-color: #dd2a06;
	transform: scale(1.5);
}

.navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #1f6a6f;
	color: rgb(90, 49, 8);
	padding: 0;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 20px;
	height: 100vh;
	transition: width 0.5s, opacity 0.5s;
	opacity: 0.85;
	z-index: 1000;
}

.navbar:hover {
	width: 170px;
	opacity: 0.85;
	color: #46855b;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	transition: width 0.5s, color 0.5s;
}

.navbar a {
	color: #f9ca2e;
	padding: 0px;
	display: block;
	margin: 3px 0;
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	transition: color 0.3s;
}

.navbar a:hover {
	color: #d85d1b;
	transition: color 0.3s;
}

.navbar a:active {
	color: #6d3309;
}

.navbar a:visited,
.navbar a:link,
.navbar a:focus,
.navbar a:target {
	color: #ffc422;
}

.navbar::-webkit-scrollbar {
	width: 12px;
	height: 100vh;
}

.navbar::-webkit-scrollbar-track {
	background: #2e9290;
}

.navbar::-webkit-scrollbar-thumb {
	background-color: #d34609;
	border-radius: 5px;
}

.navbar::-webkit-scrollbar-thumb:hover {
	background-color: #854646;
	opacity: 1;
}

.container {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	height: 100vh;
	width: 100vw;
	background-color: #f4af6a;
}

#content {
	margin-left: 5px;
	padding: 0px;
	transition: margin-left 0.5s;
	color: #854646;
}

.navbar:hover+#content {
	margin-left: 200px;
}

#random-page-button {
	display: none;
	position: absolute;
	opacity: 0.5;
}

.h2header,
.pheader {
	display: none;
}

.tarot-page {
	background-color: #a979d4;
}

.nearme-page {
	background-color: #c79a67;
}

.food-page {
	background-color: #baffc9;
}

.howto-page {
	background-color: #bae1ff;
}

.bartletts-page {
	background-color: #8282ac;
}

.nonprofit-page {
	background-color: #b5ca84;
}

.art-page {
	background-color: #f4897d;
}

.bugs-page {
	background-color: #507b50;
}

.mammals-page {
	background-color: #aeae45;
}

.reptiles-page {
	background-color: #744253;
}

.fish-page {
	background-color: #416381;
}

.birds-page {
	background-color: #a17d4f;
}

.dinosaurs-page {
	background-color: #377958;
}

.trivia-page {
	background-color: #886c40;
}

.poem-page {
	background-color: #6b4262;
}

.wotd-page {
	background-color: #8b754b;
}

.vintage-page {
	background-color: #5d5649;
}

.people-page {
	background-color: #f0ffff;
}

.mtg-page {
	background-color: #242464;
}

.meme-page {
	background-color: #ff8383;
}

.folklore-page {
	background-color: #442121;
}

.about-page {
	background-color: #324640;
}
.hidden {
	display: none;
	opacity: 0;
}

.visible {
	display: block;
	opacity: 1;
	position: absolute;
	transition: opacity 0.5s ease-in-out;
}

.clickable {
	cursor: pointer;
	user-select: none;
}