/* General styles for the tarot page */
body {
  font-family: "Young Serif", serif;
  background-color: #ffb3ba;
  /* Light pastel red */
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
  color: #6d3309;
}

h2 {
  font-size: 2em;
  color: #824807;
}

p {
  font-size: 1.2em;
  color: #333;
}

.tarot-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarot-card img {
  max-width: 100%;
  border-radius: 10px;
}

.tarot-card h3 {
  font-size: 1.5em;
  color: #6d3309;
}

.tarot-card p {
  font-size: 1em;
  color: #333;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}